In [1]:
import re 
import pandas as pd

### 1. Write a function named is_vowel. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

In [2]:
def is_vowel(word):
    #has a vowel anywhere
    return bool(re.search(r'^[AEIOUaeiou]$',word))

In [3]:
is_vowel('Am')

False

### 2. Write a function named is_valid_username that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

In [4]:
def is_valid_username(word):
    # regex expression 
    return bool(re.search(r'^[a-z][a-z0-9_]{,31}$', word))

# can run any of those characters 32 times

starts with lowercase letter 
consists of only lower case letters 
numbers or underscore character (less than 32 characters)
return true or false

In [5]:
is_valid_username('1codeup')

False

>>> is_valid_username('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa')
False
>>> is_valid_username('codeup')
True
>>> is_valid_username('Codeup')
False
>>> is_valid_username('codeup123')
True
>>> is_valid_username('1codeup')
False

### 3. Write a regular expression to capture phone numbers. It should match all of the following:
(210) 867 5309<br>
+1 210.867.5309<br>
867-5309<br>
210-867-5309<br>

account for space and parenthesis or plus and dashes 
7 - 13 numbers long

phone_number_re = "(\+?\d+)?.?(\(?d{3}\)?)?.?\d{3}.?\d{4}"
(\+?\d+)? optional - take into account country codes 
(\(?d{3}\)?)? optional /\d{3} required - first three digits 
\d{4} - last 4 digits 
# use () to group parts of phone number and use ? if anything is optional

### 4. Use regular expressions to convert the dates below to the standardized year-month-day format:

In [6]:
# convert dates into list 
date_list = ["02/04/19",
"02/05/19",
"02/06/19",
"02/07/19",
"02/08/19",
"02/09/19",
"02/10/19"]

dates = pd.Series(date_list)
dates

0    02/04/19
1    02/05/19
2    02/06/19
3    02/07/19
4    02/08/19
5    02/09/19
6    02/10/19
dtype: object

year will be last 2 characters 
month will be charactheres 1 and 2
day will be characters 4 and 5

In [7]:
date = ('02/04/19')
month = re.search(r'^[0-9]\d', date)
month

In [8]:
dates.str.replace(r'(\d{2})/(\d{2})/(\d{2})', r'20\3-\1-\2', regex=True)

0    2019-02-04
1    2019-02-05
2    2019-02-06
3    2019-02-07
4    2019-02-08
5    2019-02-09
6    2019-02-10
dtype: object

### 5. Write a regex to extract the various parts of these logfile lines:
GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58
POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58
GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58

In [10]:
logfile_re = r'''
^(?P<method>GET|POST)
\s+
(?P<path>.*?)
\s+
\[(?P<timestamp>.*?)\]
\s+
(?P<http_version>.*?)
\s+
\{(?P<status>\d+)\}
\s+
(?P<bytes>\d+)
\s+
"(?P<user_agent>.*)"
\s+
(?P<ip>.*)$
'''

lines = pd.Series([
    'GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58',
    'POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58',
    'GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58',
])
lines.str.extract(logfile_re, re.VERBOSE)

,method,path,timestamp,http_version,status,bytes,user_agent,ip
0,GET,/api/v1/sales?page=86,16/Apr/2019:193452+0000,HTTP/1.1,200,510348,python-requests/2.21.0,97.105.19.58
1,POST,/users_accounts/file-upload,16/Apr/2019:193452+0000,HTTP/1.1,201,42,User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; ...,97.105.19.58
2,GET,/api/v1/items?page=3,16/Apr/2019:193453+0000,HTTP/1.1,429,3561,python-requests/2.21.0,97.105.19.58